﻿<!DOCTYPE html>

<html>
  <head>
	  <link type="text/css" rel="stylesheet" href="/static/styles.css" />
    <title>PAM</title>
  </head>

  <body>

    <h1>AdaptivePayments<br>PAM Demo</h1>
    <h2>Customer Registration</h2>

    <div class="pplogo">
      <text>
        Customers must have PayPal Accounts. Payments will be sent 
        from the Sender's PayPal Account to the Receiver’s PayPal Account.
      </text>
    </div>
    
    <form method="post" action="{{sandboxPrefix}}/accountpayment/customer/create">
      <table>
        <tr>
          <td>
            <input type="text" name="customerId" value="customerId">
          </td>
          <td>
            <input type="text" name="ppLogin" value="PayPal login (email)">
          </td>
          <td>
            <input type="submit" value="Create New Customer">
          </td>
        </tr>
      </table>
    </form>

    <br>
    <form method="post" action="{{sandboxPrefix}}/accountpayment/customer/delete">
      <table>
        <tr>
          <td>
            <input type="text" name="customerId" value="customerId">
          </td>
          <td>
            <input type="submit" value="Delete Customer">
          </td>
        </tr>
      </table>
    </form>
    <br>
    <form method="post" action="{{sandboxPrefix}}/accountpayment/preapproval/create">
      <table>
        <tr>
          <td>
            <input type="text" name="customerId" value="customerId">
          </td>
          <td>
            <input type="submit" value="Create Preapproval">
          </td>
        </tr>
      </table>
    </form>
    <br>
    <form method="post" action="{{sandboxPrefix}}/accountpayment/preapproval/delete">
      <table>
        <tr>
          <td>
            <input type="text" name="customerId" value="customerId">
          </td>
          <td>
            <input type="submit" value="Delete Preapproval">
          </td>
        </tr>
      </table>
    </form>


    <br>
    <h2>Point Of Transaction</h2>

    <form method="post" action="{{sandboxPrefix}}/accountpayment/commit">
      <table>
        <tr>
          <td class="label">
            <b>Sender Id</b>
          </td>
          <td>
            <input type="text" name="senderId" value="id">
          </td>
        </tr>
        <tr>
          <td class="label">
            <b>Receiver Id</b>
          </td>
          <td>
            <input type="text" name="receiverId[0]" value="id">
          </td>
          <td>
            <input type="text" name="amount[0]" value="1.23">
          </td>
        </tr>
      </table>
      <input type="hidden" name="currencyCode" value="EUR">
      <br>
      <input type="submit" value="Pay">
    </form>

  </body>
</html>