﻿<!DOCTYPE html>

<html>
  <head>
	  <link type="text/css" rel="stylesheet" href="/static/styles.css" />
    <title>PAM</title>
  </head>

  <body>

    <h1>New Customer<br>Registration Demo</h1>
    <h2>Customer Registration</h2>

    <form method="post" action="{{sandboxPrefix}}/subscribe">
      <div class="qlogo">
        <text>
          Customer names and date of birth may be used to validate customer personality.
        </text>
      </div>
      <br>
      <input type="hidden" name="mode" value="{{mode}}">
      <table>
        <tr>
          <td>
            <input type="text" name="firstName" value="First Name">
          </td>
          <td>
            <input type="text" name="lastName" value="Last Name">
          </td>
          <td>
            <input type="text" name="birthDate" value="Birth: DD.MM.YYYY">
          </td>
        </tr>
      </table>
      <br>

      <div class="error">
        {{error_subscription}}
      </div>
      
      <br>

      {% if mode == "init" %}
      <table>
        <tr>
          <td>
            <div class="pplogo">
              <text>
                New Customer must have valid PayPal Account. Create PayPay<br>account, if needed
                and pay 1 euro of Service subscription fee.
              </text>
            </div>
          </td>
          <td>
            <input type="submit" value="Subscribe for Service">
          </td>
        </tr>
      </table>

      <input type="hidden" name="receiverId[0]" value="aa@bb.com">
      <input type="hidden" name="amount[0]" value="1.00">
      <input type="hidden" name="currencyCode" value="EUR">
      {% endif %}

      {% if mode == "confirm" %}
      <div class="pplogo">
        <text>
          Confirm selected PayPal account by entering corresponding PayPal login<br>
          and approve the service for making payments on your behalf.
        </text>
      </div>
      <table>
        <tr>
          <td>
            <input type="text" name="ppLogin" value="PayPal login (email)">
          </td>
          <td>
            <input type="submit" value="Confirm Selected PayPal Account">
          </td>
        </tr>
      </table>
      {% endif %}

      {% if mode == "cancel" %}
        <input type="submit" value="Cancel Creating Service Account">
      {% endif %}

    </form>

  </body>
</html>