<!DOCTYPE html>

<html>
  <head>
	  <link type="text/css" rel="stylesheet" href="/static/styles.css" />
    <title>PAM Demo Login</title>
  </head>

  <body>
    <h1>AdaptivePayments<br>PAM Demo</h1>
    <h2>Sign in please</h2>

    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>
      </table>

      <div class="error">
        {{error_login}}
      </div>

      <input type="submit" value="Sign In">
    </form>
  </body>

</html>